@import "./variables";
@import "./fontstyle";

/* Computer users */
@media (min-width: 600px) {
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		background-color: white;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	}

	#wrapper {
		padding: 4em 10em;
		height: 100vh;
	}

	.header {
		background-color: $primaryColor;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		padding: 0 4em;

		.navigation {
			height: 10vh;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			input[type=checkbox] {
				display: none;
			}

			.navigation__ul {
				display: flex;
				list-style-type: none;
				justify-content: flex-end;
				align-items: center;

				.navigation__li {
					margin-left: 2em;
					padding: 1.3em 0;
					position: relative;

					.navigation__a {
						text-decoration: none;
						color: white;
					}
				}

				.navigation__li::before {
					content: '';
					top: 10%;
					width: 0px;
					background-color: white;
					transition: width 500ms linear;
				}

				.navigation__li:hover::before {
					position: absolute;
					width: 100%;
					height: 4px;
				}
			}
		}
	}
	.contentbox__one::after {
		content: '';
		width: 100%;
		height: 20px;
		border-radius: 10%;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		position: absolute;
		left: 0%;
		bottom: 0%;
	}
	.contentbox__one {
		background-color: $primaryColor;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
		border-radius: 30px;
		position: relative;

		.picture__container {
			display: flex;
			justify-content: space-evenly;
			padding: 4em 5em 0 5em;

			.photo__discription {
				text-align: center;
                width: 50%;
                margin-top: 2em;
			}

			.profile__container {

				.photo {
					background-image: url("/portfolio/images/standard_luks.png");
					background-repeat: no-repeat;
                    width: 23em;
                    height: 23%;
					margin: 0;
					background-size: cover;
					background-position: center;
					border-radius: 50%;
					filter: grayscale(1);
				}
			}
		}
	}

	.button__container {
		display: flex;
		justify-content: center;

		.button_target {
			padding: 1em;
			background-color: #ffc75f;
			border-radius: 25px;
			border: none;
			font-size: 1.2em;
			margin: 1em 0 3em 0;
		}
	}
	/* ================================= Section two ======================================*/
	.section__two {
		height: 100vh;
		background-color: white;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	}
}
